.nav-content {
    display: flex;
    width: 21rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    background: var(--block-color);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(32px);
    transition: width 0.5s ease 0s;
    overflow: hidden;
    
    &.collapsed {
        width: 5.5rem;
    }
}