input {
    background-color: var(--block-color);
    border: 2px solid var(--stroke-color);
    border-radius: 20rem;
    padding: 0.5rem 2rem;
    width: 20rem;
    color: var(--text-color);
}

input:active, input:focus {
    border-color: var(--acient-color);
    outline: none;
}

input::placeholder {
    color: var(--unfocus-color);
    opacity: 1;
}

input::-webkit-input-placeholder { color: var(--unfocus-color); }
input::-moz-placeholder { color: var(--unfocus-color); opacity: 1; }
input:-ms-input-placeholder { color: var(--unfocus-color); }
input::-ms-input-placeholder { color: var(--unfocus-color); }
